#heading {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 10px;
}

#content {
  margin-top: 10px;
  margin-left: 10px;
}

#buttons {
  margin-top: 10px;
  margin-left: 10px;
}

button {
  background-color: darkcyan;
  border-radius: 20px;
}
