div {
  background-color: mediumpurple;
}

#heading {
  font-size: 2rem;
}

/* id is prefered to class */
#subtitle {
  color: crimson;
}

.subtitle {
  color: aqua;
}

#text p {
  background-color: darkcyan;
}
